[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"

[packages]
asyncorm = "==0.5.3"
sanic = "==18.12.0"

[requires]
python_version = "3.6"
