
include AUTHORS.rst

include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

recursive-include asyncorm/application *
recursive-include asyncorm/database *
recursive-include asyncorm/log *
recursive-include asyncorm/manager *
recursive-include asyncorm/models *
recursive-include asyncorm/serializers *
recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
