[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==18.9b0"
bumpversion = "<0.6"
codacy-coverage = "<1.4"
coverage = "<4.6"
flake8 = "*"
isort = "*"
netaddr = "<0.8"
pylint = "*"
pytest = "*"
pytest-asyncio = "*"
rope = "*"
Sphinx = "*"
sphinx-rtd-theme = "*"
tox = ">=3.7.0<3.8"
twine = "*"
watchdog = "*"

[packages]
asyncpg = "<0.19"
netaddr = "<0.8"

[requires]
python_version = "3.7"
