-r requirements.txt

black==18.9b0
bumpversion==0.5.3
codacy-coverage>=1.3.11
coverage==4.5
netaddr>=0.7.19<0.8
pip>=19.0.3
pylint==*
rope==*
Sphinx==*
tox>=3.7.0<3.8
watchdog>=0.9.0<1.0
wheel>=0.32<=0.33.
